div{
    width: 100%;
}
#center {
	width: 100%;
	float: left;
}

.research_item{
	width: 100%;
	background-color: white;
	float: left;
}

.research_item_picture{
	width: 70%;
	background-color: white;
	float: left;
}

.research_item_summary{
	margin-left: 1px;
	width: 100%;
	background-color: white;
	float: left;
}

header{
	min-height: 300px;
	max-width: 600px;
	margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 0.5%;
    padding-left:5%;
    padding-right:5%;
    color: #e3e4e6;
    background:#e3e4e6;
    clear: left;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    min-width: 300px;
}

img{
	max-width: 100%;
	margin-right:5px;
	margin-left: 5px;
	display:block;
}

p{
	font-size: 0.8em;
	font-family: "Open Sans", sans-serif;
	text-align: justify;
	line-height: 1.75;
	color:#404040;
}

h1{
	font-family: : "Open Sans", sans-serif;
	font-size: 1.5em;
	font-weight: oblique;
	line-height: 40px;
}

h2{
	font-family: "Open Sans", sans-serif;
	font-size: 17px;
	font-weight: oblique;
	line-height: 35px;
}

h5{
	font-family: "Oxygen", sans-serif;
	font-size: 0.8em;
	color:  black;
	line-height: 1.0;
	margin:0.15em;
    padding:0.15em;
}

a:link {
    color: #1b00bd;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: gray;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #1b00bd;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: #1b00bd;
    background-color: transparent;
    text-decoration: underline;
}

article{
	min-width: 375px;
	max-width: 600px;
    margin-left:25%;
    margin-right:25%;
    margin-bottom: 0.5%;
    background: white;
    padding-bottom:2%;
    padding-left:5%;
    padding-right:5%;
    display:inline-block;
    font-size: 0.9em;
    text-align: justify;
    line-height: 1.1;
}